 .flex{
    display: flex;
 }

.orange-nav{
    background-color: orangered;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0; 
}
.logo-b{
    height: 20px;
    justify-content: center;
    margin-top: 20px;
}
.text-left{
    margin-top: 20px;
}
.color-text{
    color: white;
    
}
.riga{
    text-decoration: line-through;
}
main>.flex{
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    margin: 30px auto 0;
}    


main > .flex > div{
    justify-content: center;
    width: calc((100%  - 60px) / 3);
    position: relative;    
}
.price-red{
    color: red;
}
.photo-ghost{
    display: none;
}
main > .flex > div:hover .photo-ghost{
    display: block;
}
main > .flex > div:hover .photo-visible{
    display: none;
}
.contenitor{
    position: relative;
}
.heart{
    width:30px;
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: white;
}
.red-button{
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px 10px;
    bottom: 70px;
    border: none;

}
.green-button{
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px 5px;
    bottom: 70px;
    left: 65px;
    border: none;
}
.green-button2{
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px 5px;
    bottom: 70px;
    border: none;
}
footer{
    background-color: black;
    height: 100px;
    margin-top: 20px;
}
.fotter-font{
    color: white;
    padding: 20px;
    position: relative;
}
.icon{
    width: 50px;
    height: 50px;
    display: flex;
    gap: 5px;
}
.span-absolute{
    position: absolute;
    right: 100px;
    top: 20px;
}
.Logo_of_Twitter{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 200px;
    top: 40px;
}
.Facebook_logo_{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 170px;
    top: 40px;
}
.Instagram_icon{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 140px;
    top: 40px;
}
.Youtube_logo{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 110px;
    top: 40px;
}
