 .flex{
    display: flex;
 }

.orange-nav{
    background-color: orangered;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo-b{
    height: 20px;
    justify-content: center;
}
.color-text{
    color: white;
}
.riga{
    text-decoration: line-through;
}
main>.flex{
    flex-wrap: wrap;
}    

main > .flex > div{
    justify-content: center;
    width: calc(100% / 3);
    
}
.price-red{
    color: red;
}
.photo-ghost{
    display: none;
}
main > .flex > div:hover .photo-ghost{
    display: block;
}
main > .flex > div:hover .photo-visible{
    display: none;
}